<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/jquery.min.js"></script>
</head>
<body>
<form id="search-form">
    <input id="search-address" type="text" name="search" placeholder="Search..">
    <button class="btn" id="search-btn">Search</button>
</form>
<div id="content">
    <div id="location-content">
        <ul>
        </ul>
    </div>
    <div id="media-content">
        <ul>
        </ul>
    </div>
</div>

<script src="/javascripts/main.js"></script>
</body>
</html>